[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pip-licenses = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
numpy = "*"
scikit-learn = "*"
symspellpy = "*"
nltk = "*"
lxml = "*"

[requires]
python_version = "3.8"
